/* src/app.css */
@import "tailwindcss";

/*#e978c2*/

@theme {
  /* Ini pengganti tailwind.config.ts */
  --color-brand-pink: #FADBE9;
  --color-brand-dark: #0D0D0D;
  --color-brand-yellow: #f4cf86;
  
  /* Setting border radius */
  --radius-4xl: 2rem; 
}

/* Global Styles */
body {
  /* Di v4, variable theme otomatis bisa dipanggil via var() */
  background-color: var(--color-brand-pink);
  color: black;
  
  /* Utility class Tailwind standar */
  @apply antialiased;
}

html {
  height: 100%;
  width: 100%;
}

*{
    /* Matikan antialiasing berat saat animasi berjalan */
    -webkit-font-smoothing: auto; 
}